@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
  --background: 0 0% 97.6471%;
  --foreground: 0 0% 20%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 20%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 20%;
  --primary: 246.9065 74.3316% 63.3333%;
  --primary-foreground: 0 0% 100%;
  --secondary: 210.3704 75.7009% 79.0196%;
  --secondary-foreground: 0 0% 20%;
  --muted: 45.0000 15.6250% 74.9020%;
  --muted-foreground: 0 0% 43.1373%;
  --accent: 72.0000 17.9283% 49.2157%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 84.2365% 60.1961%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 83.1373%;
  --input: 0 0% 83.1373%;
  --ring: 246.9065 74.3316% 63.3333%;
  --chart-1: 246.9065 74.3316% 63.3333%;
  --chart-2: 282.2857 43.5685% 47.2549%;
  --chart-3: 274.6154 100% 25.4902%;
  --chart-4: 218.5401 79.1908% 66.0784%;
  --chart-5: 207.2727 44% 49.0196%;
  --sidebar: 0 0% 97.6471%;
  --sidebar-foreground: 0 0% 20%;
  --sidebar-primary: 246.9065 74.3316% 63.3333%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 72.0000 17.9283% 49.2157%;
  --sidebar-accent-foreground: 0 0% 100%;
  --sidebar-border: 0 0% 83.1373%;
  --sidebar-ring: 246.9065 74.3316% 63.3333%;
  --font-sans: Geist Mono, ui-monospace, monospace;
  --font-serif: serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
  --shadow: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 2px 4px -3px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 4px 6px -3px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 8px 10px -3px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: 220.0000 14.7541% 11.9608%;
  --foreground: 0 0% 89.8039%;
  --card: 197.1429 6.9307% 19.8039%;
  --card-foreground: 0 0% 89.8039%;
  --popover: 197.1429 6.9307% 19.8039%;
  --popover-foreground: 0 0% 89.8039%;
  --primary: 246.9065 74.3316% 63.3333%;
  --primary-foreground: 0 0% 100%;
  --secondary: 274.6154 100% 25.4902%;
  --secondary-foreground: 0 0% 89.8039%;
  --muted: 0 0% 26.6667%;
  --muted-foreground: 0 0% 63.9216%;
  --accent: 218.5401 79.1908% 66.0784%;
  --accent-foreground: 0 0% 89.8039%;
  --destructive: 0 84.2365% 60.1961%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 26.6667%;
  --input: 0 0% 26.6667%;
  --ring: 246.9065 74.3316% 63.3333%;
  --chart-1: 246.9065 74.3316% 63.3333%;
  --chart-2: 282.2857 43.5685% 47.2549%;
  --chart-3: 274.6154 100% 25.4902%;
  --chart-4: 218.5401 79.1908% 66.0784%;
  --chart-5: 207.2727 44% 49.0196%;
  --sidebar: 220.0000 14.7541% 11.9608%;
  --sidebar-foreground: 0 0% 89.8039%;
  --sidebar-primary: 246.9065 74.3316% 63.3333%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 218.5401 79.1908% 66.0784%;
  --sidebar-accent-foreground: 0 0% 89.8039%;
  --sidebar-border: 0 0% 26.6667%;
  --sidebar-ring: 246.9065 74.3316% 63.3333%;
 --font-sans: Geist Mono, ui-monospace, monospace;
  --font-serif: serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
  --shadow: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 1px 2px -3px hsl(0 0% 0% / 0.10);
  --shadow-md: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 2px 4px -3px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 4px 6px -3px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.10), 0px 8px 10px -3px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.25);
}
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}